$bgcolor: #eb6565;
$textcolor: darkblue;
$fontsize: 18px;
$hovercolor:yellow;
$newStyle:'Lucida Sans', sans-serif;
$main-fonts: Arial, sans-serif;
$headings-color:orange;
$introbackcolor: rgb(230, 242, 255);
$blue: #204056;
$slogan-font: 'Open Sans', sans-serif;
$slogan-spacing: 0.183em;
$demo:Arial, Helvetica, sans-serif;