@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body {
  font-family: "Lucida Sans", sans-serif;
  text-align: center;
  background-color: #eb6565;
  color: darkblue;
  font-size: 18px;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 17px;
}

#artistPick {
  display: inline;
}

.navbar {
  overflow: hidden;
  background-color: #5f0b0b;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  height: 10%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

input {
  float: right;
  padding: 10px;
  border: none;
  margin-top: 20px;
  margin-right: 16px;
  font-size: 17px;
}

#Demo {
  margin-top: 0%;
  color: white;
  text-align: left;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  -webkit-text-emphasis-color: 40em;
          text-emphasis-color: 40em;
}

.intro {
  top: 0;
  min-height: 20vh;
  padding-top: 10vh;
}

.intro p {
  color: darkblue;
  font-size: 18px;
}

.project-pic {
  width: 80%;
  height: 80%;
  border-bottom: 2px solid lightblue;
}

.back_image {
  background-image: url(/css/background.jpg);
  /* The image used */
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 500px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

h3 {
  color: #204056;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.183em;
  line-height: 1.4;
  position: relative;
  left: -6.3%;
}

h1 {
  color: #204056;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.183em;
  position: relative;
  padding-top: 2%;
  left: -6.3%;
}

#Display {
  height: 0%;
  width: 100%;
  background-size: cover;
  background-color: olive;
  position: absolute;
  top: 50px;
  left: 350px;
  margin-top: 0%;
  color: white;
  text-align: top;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  -webkit-text-emphasis-color: 40em;
          text-emphasis-color: 40em;
}

@media screen and (max-width: 600px) {
  .topnav a, .input[type=text] {
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
}
/*# sourceMappingURL=main.css.map */