body {
    font-family: 'Open Sans', sans-serif;
}
h1,sh-1-1, h2{
    text-align: center;
}
p {
    text-align: left;
}
#container {
    background-color: #003049;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1%;
}

#container div {
    width: 200px;
    height: 200px;
    /* max-width: 300px; */
    text-align:center;
    flex-basis: 600px;
}

div:nth-of-type(1) {
    flex-grow: 1;
    flex-shrink:2;
}
div:nth-of-type(5) {
    flex-grow: 2;
}


main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}
main .sidebar {
    background-color: #6930c3;
    flex:1 2 300px;
}
main .maincontent {
    background-color: #80ffdb;
    flex: 2 1 800px;
}
article {
    counter-reset: heading;
  }
  article h2::before {
    counter-increment: heading;
    content: '0'counter(heading)': ';
  }
  #logoimg {
    max-width: 100%;
  }
  table, th, td {
    border: 1px solid black;
  }
  table {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 2px;
    margin-left: 20px;
  }
 


